h1 {
  color: blue;
  text-align:center;
  font-size:200px;
}
h2 {text-align:center;}

.anyKey,h2{
    margin-bottom: 70px;

}

.main_container{
    margin-top: 171px;
}
.reset{
    text-align: center;
}

#chosen_div{
    margin-top: 70px;
    text-align: center;

}

.my_image{
    text-align: center;
    padding-left: 345px;
    padding-right: 345px;
} 
}

#guesses_div{
    margin-top: 70px;
    text-align: center;
}
#already_guess{
    margin-top: 70px;
    text-align: center;
}

.reset{

}